{% extends "layout.html" %}

{% block content %}

<h2 class="mb-3">Imprint</h2>

<h3>Editorial Office Address</h3>
<p>Wanja Wiese<br>
    Institute for Philosophy II<br>
    Buildung: GAFO 04 / 620<br>
    Ruhr-Universität Bochum<br>
    Universitätsstraße 150<br>
    44780 Bochum<br>
    Germany<br>
    Phone: +49-(0)234-32-28391<br>
    Mail: wiese@philosophymindscience.org</p>
<h3>Website & App, Data Protection Officer</h3>
<p>Thomas Jurczyk<br>
    Institute for Philosophy II<br>
    Buildung: GAFO 04/423<br>
    Ruhr-Universität Bochum<br>
    Universitätsstraße 150<br>
    44780 Bochum<br>
    Germany<br>
    Phone: +49-(0)234-32-28391<br>
    Mail: editors@philosophymindscience.org</p>

{% endblock %}