{% extends "layout.html" %}

{% block content %}

        <p>
            Welcome to the Magic Manuscript Maker, the innovative typesetting tool of the <a href="https://philosophymindscience.org/">Philosophy and the Mind Sciences</a> Journal. With this intuitive web application, authors and editors can easily format and prepare their manuscripts for publication. Our goal is to simplify and accelerate the process of scientific publishing for editorial teams, allowing the technical aspects of publication (typesetting and production) to be done efficiently and automatically.
        </p>
        <p>
            The Magic Manuscript Maker is being produced as part of a three-year DFG funding and is intended to effectively support the editorial team even after the funding phase ends. Please visit the <a href="{{ url_for('main.about')}}">About</a> page to learn more about the project.
        </p>
        <p>The usage of the Magic Manuscript Maker is currently by invitation only.</p>

{% endblock %}
