{% extends "layout.html" %}

{% block content %}

<h2>Create new project</h2>

{% if form.project_name.errors %}
    {% for error in form.project_name.errors %}
	<div class="message-box-phimisci msg-type-danger">
        <li>{{ error }}</li>
	</div>
    {% endfor %}
{% endif %}


<form method="POST" action="{{ url_for('maker_project.create_new_project') }}">
	{{ form.hidden_tag() }}
	<div>
		{{ form.project_name.label(class_='form-label') }} 
		{{ form.project_name(class_='form-control') }}
		<div id="project_nameHelp" class="form-text">A project name may only 
			contain Latin base characters (A-z), hyphens, and underscores.</div>
	</div>
	{{ form.submit(id='submit-phimisci', style='margin-top: 3%;') }}
</form>

<p style="margin-top: 3%;"><a href="{{ url_for('maker_project.show_user_projects') }}" class="phimisci-link-plain"><img src="{{ url_for('static', filename='icons/return.png')}}" class="phimisci-intext-icon" alt=""> Project overview</a></p>

{% endblock %}