{% extends "layout.html" %}

{% block content %}

<h2>Request password reset</h2>

<p>Please enter the email address associated with your account. We will send you an email with a link to reset your password.</p>

<form action="{{ url_for('auth.reset_password_request')}}" method="POST">
    {{ password_reset_request_form.hidden_tag() }}
        <div>
            {{ password_reset_request_form.email.label(class_='form-label') }} {{ password_reset_request_form.email(class_='form-control') }}
        </div>
        {{ password_reset_request_form.submit(id='submit-phimisci', style='margin-top: 3%;') }}
</form>

{% endblock %}