{% extends "layout.html" %}

{% block content %}

<h2>Reset password</h2>

<p>You can set a new password using the following form:</p>

<form action="{{ url_for('auth.reset_password', email=email, token=token)}}" method="POST">
    {{ reset_password_form.hidden_tag() }}
        <div>
            {{ reset_password_form.new_password.label(class_='form-label') }} {{ reset_password_form.new_password(class_='form-control') }}
        </div>
        <div>
            {{ reset_password_form.password_confirm.label(class_='form-label') }} {{ reset_password_form.password_confirm(class_='form-control') }}
        </div>
        {{ reset_password_form.submit(id='submit-phimisci', style='margin-top: 3%;') }}
</form>


{% endblock %}