{% extends "layout.html" %}

{% block content %}
	<!-- Loading Animation; only switched on when pressing submit -->
    <div id="loading-container-phimisci" style="display: none;">
        <div id="loading-animation-phimisci" style="display: none;"></div>
    </div>

        <p>Please select the files and click "Create files".</p>

        <form action="{{ url_for('maker.dw') }}" method="post" enctype="multipart/form-data" id="phimisci-form-field">
            {{ form.hidden_tag() }}
            
            <div class="mb-3">
                {{ form.md_file.label(class_='form-label') }}
                {{ form.md_file(class_='form-control', accept='.md, .markdown') }}
            </div>

            <div class="mb-3">
                {{ form.bib_file.label(class_='form-label') }}
                {{ form.bib_file(class_='form-control', accept='.bib, .bibtex') }}
            </div>

            <div class="mb-3">
                {{ form.yaml_file.label(class_='form-label') }}
                {{ form.yaml_file(class_='form-control', accept='.yml, .yaml') }}
            </div>

            <div class="mb-3">
                {{ form.image_files.label(class_='form-label') }}
                {{ form.image_files(class_='form-control', accept='image/png, image/jpg, image/jpeg') }}
                <div id="imagesHelp" class="form-text">Optional.</div>
            </div>

            <div class="mb-3">
                {{ form.name.label(class_='form-label') }}
                {{ form.name(class_='form-control') }}
                <div id="authorHelp" class="form-text">Optional. Only used to create filenames. Avoid using special characters.</div>
            </div>

            <div class="form-check mb-3">
                {{ form.biblatex_used(class_='form-check-input') }}
                {{ form.biblatex_used.label(class_='form-check-label') }}
                </label>
            </div>

            <div class="form-check mb-3">
                {{ form.compound_words_used(class_='form-check-input') }}
                {{ form.compound_words_used.label(class_='form-check-label') }}
            </div>

            {{ form.submit(id='submit-phimisci', onclick='startLoadingAnimation()') }}

        </form>

        <p class="mt-3">
            <a href="{{ url_for('maker.index') }}" class="link-offset-2 link-underline link-underline-opacity-25">
                <i class="bi bi-arrow-left"></i> Back to Maker index
            </a>
        </p>


{% endblock %}
