{% extends "layout.html" %}

{% block content %}

        <p>Greetings, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}friend{% endif %}! The <i>Magic Manuscript Maker</i>  One-Time Pad offers a set of tools for crafting articles for the <a href="https://philosophymindscience.org/">Philosophy and Mind Sciences</a> journal. How can I assist you today?</p>
        <div class="list-group">
            <a class="list-group-item list-group-item-action list-group-item-secondary" href="{{ url_for('maker.doc2md') }}"><b>Step 1:</b> Create a clean Markdown file from docx/odt files</a>
            <a class="list-group-item list-group-item-action list-group-item-secondary" href="{{ url_for('maker.verifybibtex') }}"><b>Step 2:</b> Check BibTeX bibliography</a>
            <a class="list-group-item list-group-item-action list-group-item-secondary" href="{{ url_for('maker.xml2yaml') }}"><b>Step 3:</b> Create metadata YAML file using OJS XML</a>
            <a class="list-group-item list-group-item-action list-group-item-secondary" href="{{ url_for('maker.dw') }}"><b>Step 4:</b> Produce output files</a>
            <a class="list-group-item list-group-item-action list-group-item-secondary" href="{{ url_for('maker.tex2pdf') }}">Optional Step: Convert TeX file to PDF</a>
        </div>

{% endblock %}
